$text-color: black;
$warning_color: red;

$gradient_color_1: rgb(44, 83, 100);
$gradient_color_2: rgb(32, 58, 67);
$gradient_color_3: rgb(15, 32, 39);
$language_selector_background: rgba($gradient_color_1, 0.85);
$language_selector_color: white;

//screen-sizes
$screen_break_ptablet: 600px;
$screen_break_ltablet: 600px;
$screen_break_laptops: 992px;
$screen_break_llaptops: 1200px;

// Header
$banner_height: 30vh;
$banner_skew_angle: 3deg;
$navbar_min_height: 50px;

$max_screen_width: 1800px;
